<div class="form-element country-chooser">
  <label>{{this.label}}</label>

  {{item-chooser
    items=this.codes multiple=@multiple placeholder=@placeholder searchField="name"
    selection=this._selection class=(if @dark "item-chooser--dark") size=@size
    onSelect=this.onCountrySelection}}
</div>
