<div class="row">
  <div class="col-xs-11 upf-align--absolute-center upf-align--right">
    <h1>
      <i class="fa fa-exclamation-triangle upf-status-page__error-reason"></i>
      Oh...
    </h1>
    <div class="row">
      <div class="col-xs-6 pull-right">
        <div class="text-size-7 text-color-blue-gray">
          It seems something went wrong.
        </div>
      </div>
    </div>
  </div>
</div>
