<span class="universal-selection-option__icon text-size-6 upf-icon upf-icon--{{iconName}}"></span>
<span class="universal-selection-option__name">{{item.option.item.name}}</span>
<span class="upf-align--right text-color-info universal-selection-option__influencers-count">
  {{item.option.item.total}} influencers
</span>
