.profile-description {

  // Messing with positioning to show shadows around influencer image
  margin-top: -10px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3px;

  img {
    .img-shadow;
    height: 134px;
    width: 159px;
  }

  .media-heading {
    margin-bottom: 10px;
  }

  .media-body {
    h4, p.addr {
      .text-ellipsis();
    }
  }

  a, p {
    font-size: 12px;
  }

  p {
    max-height: 60px;
  }

  .desc {
    color: @warm-grey;
  }
}
