.profile-description {
  display: flex;
  font-size: 12px;

  .profile-picture {
    padding-right: 10px;


    img {
      .img-shadow;
      width: 150px;
      height: 150px;
    }
  }

  .profile-description-title {
    margin-bottom: 10px;
  }

  .profile-description-content {
    display: inline-block;

    h4, .addr {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .desc {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 50px;
    color: @warm-grey;
  }
}
