// Inverse-element
@inverse-bg: @navbar-default-bg;
@inverse-btn-active-color: @dark-blue-hover;
@inverse-color: @white;
@inverse-form-color: @navbar-default-color;
@inverse-form-focus-bg: @greyish-brown-hover;
@inverse-form-bg: @greyish-brown;

// Top panel
@top-panel-left: 0px;
@top-panel-right: 0px;
@top-panel-open-top: @navbar-height;

// Menu
@left-menu-size: 60px;

// Two-column

// left panel
@panel-content-left-size: 200px;
@panel-content-left-bg: @lighter-dark-blue;
@panel-content-left-add-icon-color: @dark-sky-blue;