.split-overlay-area {
  position: relative;
  cursor: pointer;

  .hover-animation(transform);

  &:hover, &:active {
    transform: scale(1.05);
    img {
      border-radius: @default-radius;
    }
  }

  .split-overlay {
    .left-side, .right-side {
      .hover-animation(opacity);

      background-color: fadeout(@upf-primary-black, 80%);
      opacity: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      i.fa {
        opacity: 0;
        font-size: 24/@rem;
        color: @upf-primary-white;
      }
    }

    .left-side {
      .position-absolute(0,0,0,50%);
      border-right: 1px solid @upf-primary-white;
    }

    .right-side {
      .position-absolute(0,0,50%,0%);
    }

    &:hover .left-side, &:active .left-side,
    &:hover .right-side, &:active .right-side {
      opacity: 1;

      i {
        opacity: 1;
      }
    }
  }
}

.split-overlay-area--left-toggled, .split-overlay-area--right-toggled {
  img {
    border-radius: @default-radius;
  }

  .split-overlay .left-side, .split-overlay .right-side {
    opacity: 1;
    i.fa { opacity: 1; }
  }
}

.split-overlay-area--left-toggled {
  .split-overlay .left-side {
    background-color: fadeout(@upf-primary-rock-blue, 30%);
  }
}

.split-overlay-area--right-toggled {
  .split-overlay .right-side {
    background-color: fadeout(@upf-primary-bright-purple, 30%);
  }
}
