.split-overlay-area {
  position: relative;
  cursor: pointer;

  .hover-animation(transform);

  &:hover, &:active {
    transform: scale(1.05);
    img {
      border-radius: @default-radius;
    }
  }

  .split-overlay {
    .left-side, .right-side {
      .hover-animation(opacity);

      background-color: fadeout(@upf-primary-black, 40%);
      opacity: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      i.fa {
        opacity: 0;
        font-size: 24/@rem;
      }
    }

    .left-side {
      .position-absolute(0,0,0,50%);
      border-right: 1px solid @upf-primary-white;

      i.fa {
        color: @upf-feedback-error;
      }
    }

    .right-side {
      .position-absolute(0,0,50%,0%);

      i.fa {
        color: @upf-feedback-success;
      }
    }

    &:hover .left-side, &:active .left-side,
    &:hover .right-side, &:active .right-side {
      opacity: 1;

      i {
        opacity: 1;
      }
    }
  }
}

.split-overlay-area--left-toggled .split-overlay:hover {
  .left-side {
    background-color: fadeout(@upf-feedback-error, 30);
    i.fa { color: @upf-primary-white; }
  }
}

.split-overlay-area--right-toggled .split-overlay:hover {
  .right-side {
    background-color: fadeout(@upf-feedback-success, 30);
    i.fa { color: @upf-primary-white; }
  }
}
