<label>{{label}}</label>
{{item-chooser
  items=ageBracketValues multiple=multiple placeholder=placeholder
  selection=_selection class=(if dark "item-chooser--dark") size=size
  onSelect=onAgeBracketChange}}
