.app-header--sidebar {
  .header-item--active {
    border: 1px solid fadeout(@upf-primary-white, 80);
    border-left: 4px solid @upf-primary-orange;
    border-right: 1px solid @upf-primary-dark-purple;
    width: calc(100% + 1px);
  }
}
