.__left-menu {
  float: left;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10; // Above the header
  width: @left-menu-size;
  height: 100%;

  .content {
    height: 100%;
    background-color: @left-menu-color;
  }

  .alpha-label {
    text-shadow: -1px 0 #636363, 0 1px #616161, 1px 0 #484848, 0 -1px #616161;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 8px;
    background: rgba(183, 97, 212, 0.9);
    padding: 1px 3px;
    border-radius: 3px;
    line-height: 12px;
    letter-spacing: 1px;
  }
}