.social-handle-container {
  position: relative;

  .upf-infinite-select {
    max-width: 100%;
    .padding-xx-sm;

    .upf-infinite-select__item {
      padding: 0;
      .padding-top-xxx-sm;
      .padding-bottom-xxx-sm;
    }

    .row-selected span {
      .text-color-default;
    }

    .fx-basis-px-12 {
      flex-basis: 12px;
    }
  }

  .social-handle-input {
    .selector {
      border-right: 1px solid var(--color-border-default);
      height: 100%;
      display: flex;
      align-items: center;
      padding-right: var(--spacing-px-12);
      margin-right: var(--spacing-px-12);
    }

    .selector-full-width {
      height: 100%;
      flex: 1;
      border-right: none;
      padding-right: 0;
      margin-right: 0;
    }

    input {
      border: none;
      background-color: transparent;
    }

    input:focus {
      border: none;
      outline: none;
    }

    &:focus-within {
      border: 1px solid var(--color-border-default);
    }
  }
}
