.__panel-content-left {
  position: fixed;
  height: 100%;
  top: 0;
  left: @left-menu-size;
  width: @panel-content-left-size;
  background-color: @panel-content-left-bg;
  border-right: 1px solid black;
  color: #ECEDF0;
  overflow-y: auto;
}
