.details-description {
  border-bottom: 1px solid @upf-gray;

  overflow: hidden;
  padding: @spacing-xx-sm;

  .info-bar {
    .make-xs-column(12);
    .media();

    .media-body {
      vertical-align: middle;
    }
  }
}

.details-description__panel-closer,
.details-description__panel-closer:hover {
  color: @upf-primary-orange;
}

.details-description__avatar {
  width: 45px;
  height: 45px;
}

.details-description__address {
  border-left: 1px solid @upf-gray;
}
