.http-error-code-wrapper {
  height: 100vh;

  & > div {
    max-width: 1200px;
  }

  .hints-container {
    i {
      width: 15px;
    }
  }
}

@media (max-width: 1200px) {
  .http-error-code-wrapper img {
    display: none;
  }
}
