.upf-summer-note {
  @border-color: #e6e6e6;

  .note-editor {
    box-shadow: none;
    margin-bottom: 10px;
    border: none;
    border-radius: 0;

    .note-statusbar { display: none; }

    .note-toolbar {
      background-color: transparent;
      border-bottom: 1px solid @upf-gray;
      padding: 10px;
      text-align: left;

      .note-btn {
        background-color: transparent;
        color: @color-text-light;
        font-size: 16/@rem;
      }
    }

  }
}
