<div class="modal-body text-center">
  <div class="row padding-left-xx-sm padding-right-xx-sm">
    {{universal-selection
      current=current multiple=false placeholder=placeholder canCreate=true
      createItemComponent="universal-export/create-item"}}

    {{#if errors}}
      <div class="alert alert-danger">
        {{#each errors as |error|}}
          <p>{{error}}</p>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>

<div class="modal-footer">
  {{#loading-button
    current slowAction="submit" initiallyDisabled=disabledExport
    class="margin-left-xx-sm upf-btn upf-btn--primary"}}
    Export Influencers
  {{/loading-button}}
</div>
