<div class="upf-align--center padding-top-sm padding-bottom-sm">
  {{#item-chooser
    multiple=true items=items selection=current optionValuePath="content.identifier"
    placeholder=placeholder allowClear=true search=(action "searchEntities") as |opt|}}
    {{universal-selection/option item=opt}}
  {{/item-chooser}}
</div>