<div class="universal-selection-group__name text-style-capitalize">
  <span class="universal-selection-option__icon text-size-4 upf-icon {{iconName}}">
  </span>
  {{t (concat "export_influencers.group_name." group.groupName)}}
</div>
{{yield}}
