.color-scheme-social(@color) {
  i {
    color: @color;
  }

  .progress-bar {
    background-color: @color;
  }

  .progress-icon {
    color: @color;
  }
}

.color-blog, .color-pencil-square-o {
  .color-scheme-social(@blog-color);
}

.color-facebook, .color-facebook-official {
  .color-scheme-social(@facebook-color);
}

.color-twitter{
  .color-scheme-social(@twitter-color);
}

.color-instagram {
  .color-scheme-social(@instagram-color);
}

.color-youtube-play {
  .color-scheme-social(@youtube-color);
}

.color-pinterest-p {
  .color-scheme-social(@pinterest-color);
}

.color-disabled {
  .color-scheme-social(@cool-grey);
}
