.inverse-element {
  background-color: @upf-primary-dark-purple;
  color: @color-text-contrast;

  .btn-link {
    .hover-animation(background-color);

    &:hover, &:focus {
      outline: none;
    }

    &:active {
      background-color: @inverse-btn-active-color;
    }
  }

  .form-control {
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus, &:hover {
      outline: none;
      box-shadow: none;
      background: @inverse-form-focus-bg;
    }

    .hover-animation(background);

    color: @inverse-form-color;
    border: 0px;
    background: @inverse-form-bg;
  }
}
