<div class='modal-header'>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" id='close-x'><span aria-hidden="true">&times;</span></button>
  <h4>Insert a video</h4>
</div>

<div class='modal-body text-center margin-top-x-sm margin-bottom-x-sm padding'>
  {{file-uploader allowedExtensions=allowedExtensions method='POST'
                  extra=uploaderExtra headers=uploaderHeaders
                  beforeUpload=(action 'resetVideoUrl')
                  didUpload=(action 'videoUploaded')}}
</div>

<div class='modal-footer'>
  {{#loading-button slowAction='insertVideo' initiallyDisabled=noVideoUploaded
                    disabled=noVideoUploaded
                    class='margin-left-xx-sm upf-btn upf-btn--primary'}}
    Insert Video
  {{/loading-button}}
</div>
