{{#layout/side-hover-panel
  side="top" stickTo="left" width="40%" height="100%"
  isOverContent=true backdropAction=esc}}
  <div class="access-panel">
    {{#upf-table
      collection=collection columns=columns hasSelection=hasSelection
      isCompact=true hasPagination=hasPagination currentPage=currentPage
      perPage=perPage itemCount=itemCount itemTotal=itemTotal
      totalPages=totalPages didPageChange=didPageChange hasSearch=hasSearch
      performSearch=performSearch hasToggleableColumns=false onRowClick=onRowClick
      contentChanging=contentLoading contextualActionsComponent=contextualActionsComponent
      hasPolymorphicColumns=hasPolymorphicColumns}}
    {{/upf-table}}
  </div>
{{/layout/side-hover-panel}}
