<form>
  <div class="form-group">
    <label>Name</label>
    {{input placeholder='Enter your name'
            value=name
            autocomplete="name"
            name="name"
            class="form-control"}}
  </div>
  <div class="form-group">
    <label>Email</label>
      {{input placeholder='Enter Email'
              value=model.email
              autocomplete="email"
              type="email"
              name="emai"
              class="form-control"}}
  </div>
  <div class="form-group">
    <label>Password</label>
    {{input placeholder='Password'
            type="password"
            value=model.password
            class="form-control"}}
  </div>
</form>
{{errors-list errors=model.errors}}
