<div class="modal-body text-center">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      {{item-chooser items=items selection=currentList canCreate=true
                     recordType='list' placeholder='Pick or create a list'}}
    </div>
  </div>
</div>

<div class="modal-footer">
  {{#loading-button currentList slowAction='submit' initiallyDisabled=disabledExport
                    disabled=disabledExport class='margin-left-xx-sm upf-btn upf-btn--primary'}}
    {{t 'export.modal_cta'}}
  {{/loading-button}}
</div>
