<div class="upf-align--center padding-top-sm padding-bottom-sm">
    {{item-chooser items=items selection=current
                    recordTypeIsModel=false canCreate=_canCreate
                    optionValuePath='content.identifier'
                    canCreate=false
                    customOptionComponent=true
                    placeholder=placeholder
                    search=(action "searchEntities")}}

    {{#loading-button current slowAction='submit' initiallyDisabled=true
                    class='margin-left-xx-sm upf-btn upf-btn--primary margin-top-xx-sm'}}
    Import Influencers
    {{/loading-button}}
</div>