.__application-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 60px;
  z-index: 4;
  padding-right: 10px;
  border-bottom: solid 2px #e5e7e9;

  .__application-header-content {
    flex: 1;
  }
}