.__medias-list {
  position: absolute;
  bottom: @spacing-xxx-sm;

  .community-row {
    width: 105px;
    margin: 7px 0;
    display: inline-block;

    .community-row--line {
      i {
        width: 15px;
        margin-right: 2px;
        text-align: center;
      }
    }
  }
}
