.__medias-list {
  .disabled {
    color: @cool-grey;
    i {
      color:  @cool-grey;
    }
  }

  font-size: @font-size-base;

  p {
    margin-bottom: 19px;
  }

  .community-row {
    > span {
      font-size: 11px;
    }

    i {
      width: 16px;
    }
  }
}
