{{#if select.loading}}
  {{#if loadingMessage}}
    <li class="ember-power-select-option ember-power-select-option--loading-message" role="option">{{loadingMessage}}</li>
  {{/if}}
{{/if}}
<ul class="ember-power-select-options" role="listbox">
  {{#each options as |opt index|}}
    {{power-select-option
    itemName=opt.item.name
    icon=opt.icon
    item=opt.item
    }}
  {{/each}}
</ul>