<div class="info-bar">
  <div class="media-left media-middle">
    <img class="media-object" src={{profile.avatar_url}}>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{profile.name}}</h4>
  </div>
  <div class="media-right">
    <a {{action 'close'}} class="close-button">
      {{fa-icon 'close'}}
    </a>
  </div>
</div>
