{{#app-base headerStyle='sidebar'}}
  {{#app-header indexRoute=indexRoute headerStyle='sidebar' logo=applicationLogo}}
    {{layout/left-menu
      user=user companies=companies accountSubscriptions=accountSubscriptions}}
  {{/app-header}}

  <div class="layout-right-section">
    {{yield}}
  </div>
{{/app-base}}
