{{#app-base headerStyle='sidebar'}}
  {{#app-header headerStyle='sidebar' logo=applicationLogo}}
    {{layout/left-menu userScopes=user.granted_scopes user=user}}
  {{/app-header}}

  <div class="layout-right-section">
    {{yield}}
  </div>
{{/app-base}}
