{{#if display}}
  {{#if _toggled}}
  {{ember-selectize content=ownerships selection=ownership
                    optionValuePath='content.id'
                    optionLabelPath='content.name'
                    multiple=false}}
  {{else}}
    <div class="share-cta">
      <a {{action 'toggle'}} class="upf-btn upf-btn--orange--reversed">
        <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp; Share list
      </a>
    </div>
  {{/if}}
{{/if}}
