{{yield}}

<div class='split-overlay'>
  <div class="left-side" {{action "leftSideClick" bubbles=false}}>
    <i class='upf-icon upf-icon--cross'></i>
  </div>
  <div class="right-side" {{action "rightSideClick" bubbles=false}}>
    <i class='upf-icon upf-icon--check'></i>
  </div>
</div>
