<div class="fx-row fx-gap-px-12 margin-px-30" style="max-width: 400px">
  <Utils::SocialMediaHandle @handle="nomad.technologies" @socialNetwork="instagram" @errorMessage="This is an error"
                            @onChange={{this.onSocialMediaHandlerChanged}} @selectorOnly={{false}} />
</div>
