<span class="power-select-option__icon text-size-6 upf-icon upf-icon--{{iconName}}"></span>
<span class="power-select-option__name">{{item.option.item.name}}</span>
<span class="power-select-option__influencers-count">0 influencers</span>
<div class="clear"></div>
