<label class="margin-top-xx-sm">Group</label>
{{ownership-selection light=true entity=entity ownership=ownership}}

<div class="upf-align--center margin-top-x-sm">
  {{#loading-button 
    slowAction="updateOwnership" 
    class="upf-btn upf-btn--primary"
    initiallyDisabled=noSelectedGroup}}
    Share with group
  {{/loading-button}}
  {{ownership}}
</div>
