<div class="modal-body upf-align--left">
  <div class="text-size-5 upf-align--center">
    Share <b>{{entity.name}}</b> with your whole company, one of your teams or just yourself.
  </div>

  <label class="margin-top-xx-sm">Group</label>
  {{ownership-selection light=true entity=entity ownership=ownership}}
</div>

<div class="modal-footer">
  {{#loading-button
    slowAction="updateOwnership" class="upf-btn upf-btn--primary"
    initiallyDisabled=(not ownership)}}
    Share with group
  {{/loading-button}}
</div>
