{{#if session.isAuthenticated}}
  <section class='app-header__top'>
    {{#if hasFacade}}
      {{#active-link tagName='div' class='header-item'
                     activeClass='header-item--active '}}
        {{#smart-link-to link=searchURL}}
          <span class='upf-icon upf-icon--search'></span>
        {{/smart-link-to}}
      {{/active-link}}

      {{#active-link tagName='div' class='header-item'
                     activeClass='header-item--active'}}
        {{#smart-link-to link=listURL}}
          <span class='upf-icon upf-icon--list'></span>
        {{/smart-link-to}}
      {{/active-link}}
    {{/if}}

    {{#if hasInbox}}
      {{#active-link tagName='div' class='header-item'
                     activeClass='header-item--active'}}
        {{#smart-link-to link=mailingURL cssClass='notification--small'}}
            <span class='upf-icon upf-icon--inbox'></span>
        {{/smart-link-to}}
      {{/active-link}}
    {{/if}}

    {{#if hasPublishr}}
      {{#active-link tagName='div' class='header-item'
                     activeClass='header-item--active'}}
        {{#smart-link-to link=publishrCampaignsURL cssClass='notification--small'}}
          <span class='upf-icon upf-icon--workflow'></span>
        {{/smart-link-to}}
      {{/active-link}}

      {{#active-link tagName='div' class='header-item'
                     activeClass='header-item--active'}}
        {{#smart-link-to link=publishrPaymentsURL}}
          <span class='upf-icon upf-icon--finance'></span>
        {{/smart-link-to}}
      {{/active-link}}
    {{/if}}

    {{#if hasAnalytics}}
      {{#active-link tagName='div' class='header-item'
                     activeClass='header-item--active'}}
        {{#smart-link-to link=streamsURL cssClass='notification--small'}}
          <span class='upf-icon upf-icon--monitor'></span>
        {{/smart-link-to}}
      {{/active-link}}
    {{/if}}
  </section>

  <section class='app-header__bottom'>
    <div class='header-item'>
      <a href="http://help.upfluence.co" class="upf-link--reset">
        <span class='upf-icon upf-icon--help'></span>
      </a>
    </div>

    <div class='header-item'>
      <a class="upf-link--reset" href="{{accountUrl}}">
        <span class='upf-icon upf-icon--cog'></span>
      </a>
    </div>

    <div class='header-item'>
      <a class="logout-btn upf-link--reset" {{action 'logout'}}>
        <span class='upf-icon upf-icon--exit'></span>
      </a>
    </div>
  </section>
{{/if}}
